h1{
    color:red
}

.header{
    background-color: rgb(11, 124, 96);
    display:flex;
    justify-content: flex-start;
}

.grid{
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: navy;
}
.subheader{
    text-align: center;
    background-color: gold;
    color: hotpink;
}
